header {
    padding: 20px;
    text-align: center;
    font-size: xx-large;
}

nav {
    padding: 1%;
    border-bottom-style: solid;
    display: flex;
    justify-content: center;
}

nav a {
    padding-left: 5%;
    padding-right: 5%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: small;
}

form {
    margin: 0;
    padding: 2%;
}

form p {
    margin-top: 2px;
    margin-bottom: 2px;
}

table {
    border: 1px solid black;
    border-spacing: 2%;
    width: 80%;
}

th {
    border: 1px solid black;
    padding: 1%;
}

td {
    border: 1px solid black;
    padding: 1%;
}

.main {
    margin-left: 12%;
}

.side-nav {
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 10%;
}

.side-nav a {
    padding: 20% 1% 1% 6%;
    text-decoration: none;
    font-size: 24px;
    display: block;
}