{% extends "ptg/base.html" %}
{# Pharmacy Homepage Template #}

{% block title %} Inventory - Tantulum Health {% endblock title %}

{% block content %}
    <div class="main">
    {% block main_area %}
        <h2>Place Documentation Here</h2>
        <br>
        <p><em>Maybe put a message around here</em></p>
        <br>
        <p>This area is to show the users how to operate the system</p>
    {% endblock main_area %}
    </div>
{% block sidenav %}
    <div class="side-nav">
        <a href="{% url 'pharmacy_order_lookup' %}">Lookup</a>
        <a href="#">Inventory Reports</a>
        <a href="{% url 'add_inventory' %}">Add Inventory</a>
        <a href="#">Remove Inventory</a>
    </div>
{% endblock sidenav %}
{% endblock content %}