{% extends "ptg/base.html" %}
{# Pharmacy Homepage Template #}

{% block title %} Inventory - Tantulum Health {% endblock title %}

{% block content %}
<form>
    {# csrf_token is to prevent cross site forgeries, just include on forms django will handle the rest #}
    {% csrf_token %}
    <p>Primary Key: </p>
    <input type="text" name="first"><br>
    <p>Second Thing: </p>
    <input type="text" name="second">
    <br><br>
    <input type="submit">
</form> 
{% block sidenav %}
    <div class="side-nav">
        <a href="#">Lookup</a>
        <a href="#">Inventory Reports</a>
        <a href="#">Add Inventory</a>
        <a href="#">Remove Inventory</a>
    </div>
{% endblock sidenav %}
{% endblock content %}