{% load static %}
{# This is the base template for all html documents. Use this to create and modify other templates. #}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'pharmacy/style.css' %}">
        <title>{% block title %} Tantalum Health {% endblock title %}</title>
    </head>
    <header>Tantalum Health</header>
    {% block nav %}
    <nav>
        <a href="{% url 'project_home' %}">Home</a>
        <a href="{% url 'pharmacy_home' %}">Inventory</a>
        <a href="{% url 'pharmacy_reports' %}">Reports</a>
        <a href="{% url 'project_about' %}">About</a>
        {% if user.is_authenticated %}
            <a href="/admin">Admin</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    {% endblock nav %}
    <body>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock content %}
    </body>
    <footer>
        {% block footer %}{% endblock footer %}
        <p>&copy {% now 'Y' %} Tantalum Health</p>
    </footer>
</html>